/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body { width: 100%; height: 100%; min-width: 800px; padding: 0; margin: 0; color: #353535; font-family: "pt serif", serif; font-weight: 500; color: #562024; }

.wrapper { width: 100%; height: 100%; /*min-width: 1280px;*/ min-height: 600px; }
.index-wrapper { min-width: 1280px; min-height: 39.875em; }
.page-header { background: url("../img/interface/Logo_1.png") no-repeat 100% 100% transparent; background-size: cover; margin: 1.3em auto 1.3em auto; text-indent: -9999px; width: 187px; height: 112px; overflow: hidden; }
.page-header a { display: block; width: 100%; height: 7em; }
	.block-1 { background: #f8f1e1; }
		footer { position: absolute; bottom: 1em; width: 100%; padding: 0 0 .3em 0; text-align: center; font: 500 .8em "pt serif", serif; }
		footer a { color: #562024; }
		footer>a { display: block; }
		footer .developer a { text-decoration: none; border-bottom: 1px solid; display: inline-block; line-height: 1.1em; }		
		.fb_iframe_widget { float: right; }
			.copyright { margin: 0 0 .5em; }
			.developer { margin: 0 0 .5em; }
			.social-likes { margin: 0 auto; width: 215px; height: 25px;}
			.like-button { height: 17px; padding: 0 0 7px 0; }
			.facebook-like { float: left; width: 74px; overflow: hidden; height: 22px; margin-left: 10px; display: none; }
			.vkontakte-like { float: left; width: 103px; overflow: hidden; height: 22px; margin-left: 10px; display: none; }		
			
			.social-likes a img { width:14px; height: 14px !important; }			
	.block-2 { background: url("../img/main/block-1.jpg") no-repeat 100% 100% transparent; background-size: cover; cursor: pointer; }
	.block-3 { background: url("../img/main/block-2.jpg") no-repeat 100% 100% transparent; background-size: cover; cursor: pointer; }
	.block-4 { background: url("../img/main/block-3.jpg") no-repeat 100% 100% transparent; background-size: cover; cursor: pointer; }
	.block-5 { background: url("../img/main/block-4.jpg") no-repeat 100% 100% transparent; background-size: cover; cursor: pointer; }
	
	.wrapper-component { position: relative; float: left; width: 20%; height: 100%; min-width: 256px; }
	.wrapper-component:hover .green-cross { opacity: 1; transition: opacity .5s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
		.green-cross { display: none; opacity: 0; position: absolute; top: 50%; left: 50%; margin: 3.5em 0 0 -.96875em; width: 2.25em; height: 2.25em; background: url(../img/interface/button_1.png) no-repeat; }
		.block-description { display: none; position: absolute; width: 100%; height: 100%; background-color: #aead3a; z-index: 10001; }
			.right { left: 100%; }	
			.left { left: -100%; }		
			.block-description-list { position:absolute; top: 50%; padding: 0 0 0 20px; margin: -5.5em 0 0 0; height: 14em; min-width: 12em; }
				.block-description-list-item { margin: .5em 0; list-style-type: none; }
				.block-description-list-item h3 { font-size: 0.95em; font-weight: 100; margin: 0.5em 0; }
					.block-description-list-item a { text-decoration: none; color: #fff; }
					.block-description-list-item a:hover { text-decoration: underline; }
		.block-name { position: absolute; top: 50%; left: 2.5%; width: 95%; margin: -1em auto 0 auto; background: #F8F1E1; text-align: center; letter-spacing: .25em; font: 500 .9375em/2.1875em "Conv_FontinSans_Cyrillic_SC", sans-serif; }
		.block-name:hover { background: #AEAD3A !important; }
		.navigation-list { margin: .5em auto; padding: 0; width:15.75em;font-family: "Conv_FontinSans_Cyrillic_SC", sans-serif;}
			.navigation-list-item { max-width: 14.75em; width:100%; margin: 0 auto; line-height: 2.1875; text-align: center; font-size: .9375em; }
			.navigation-list-item a { text-decoration: none; color: #562024; }
			.navigation-list-item a:hover,
			footer a:hover { color: #AEAD3A; }
			.item-1 { max-width: 11em; /*border-top: 1px dotted; */}
			.item-6 { max-width: 11em; /*border-bottom: 1px dotted; */}
	.sub-active a { color: #aead3a; }
	.block-name > a { color: #562023; font-size: 13px; text-decoration: none; }
	.about-page-text a { color: #FFFFFF; }
/* ==========================================================================
 * About company page styles
   ========================================================================== */
	.page-description-block { height: auto; /*overflow: hidden;*/ min-height: 100%; padding-bottom: 3em; background-color: #aead3a; color: #fff; line-height: 1.325em; }
		.page-description-block .page-desc-header,
		.page-description-block h2 { font-weight: 300; font-size: 1.675em; margin: 3.75em 1em 0 .5em; }
		.about-page-text { margin: 1.5em 1em 0 1em; overflow: auto; font-size: 0.9em; }
		.about-page-text>p { margin: 0 0 1.5em 0; }
		.about-page-text > h2 { margin: 0.75em 0 0.5em; padding: 0; line-height: 1.2em; font-size: 21px; }
	.about-company-slideshow, .contacts-map { position: relative; float: left; height: 100%; /*min-height: 600px;*/ width: 60%; min-width: 192px;}

	.wrapper.about-page-wrapper { height: auto !important; }
	.wrapper-component.block-1.about-page-block-1 { position: fixed; max-width: 340px; min-height: 600px; }
	.wrapper-component.page-description-block.about-page-description-block { position: relative; left: 20%; max-width: 340px; padding: 0;}	
	.about-company-slideshow { position: fixed; left: 40%; }	
/* ==========================================================================
 * Contacts page styles
   ========================================================================== */

   #map-canvas { width: 100%; height: 100%; }
   .contacts-page-text { position: absolute; height: 10em; margin: -5em 1em 0 1em; top: 40%; font: .95em/1.4em 'pt serif', serif; }
   a[href^="mailto:"] { color: #fff; }
   .wrapper-component.page-description-block.contacts-description-block { padding: 0; }
/* ==========================================================================
 * Detailed description pages styles
   ========================================================================== */
   .can-fade { min-width: 256px; max-width: 340px; position: relative; left: 20%;}
   .can-fade:hover .red-cross { opacity: 1; transition: opacity .5s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
   .red-cross { opacity: 0; position: absolute; top: 5%; right: 5%; margin: 3.5em 0 0 -.96875em; width: 3.05em; height: 3.05em; background: url(../img/interface/button_2.png) no-repeat;  }
   .red-cross:hover { cursor: pointer; }
   .green-cross-on-fade { opacity: 0; position: absolute; top: 5%; left: 5%; margin: 3.5em 0 0 -.96875em; width: 3.05em; height: 3.05em; background: url(../img/interface/button_1.png) no-repeat;  }
   .green-cross-on-fade:hover { cursor: pointer; }
   .subnavigation-list { display: none; margin: 0; padding: 0; font-size: .95em; font-family: 'pt serif', serif; font-weight: 500; }
   .subnavigation-list-item { line-height: 1.425em; margin: 0 0 .3em 0; }
   .subnavigation-list-item a:hover { text-decoration: underline; }
   .simple-page-slideshow { position: fixed; top: 10%; left: 40%; float: left; height: 80%; /*min-height: 600px;*/ width: 60%; min-width: 192px;}
   .detailed-description-header { width: 11.5em; max-width: 100%; }
   		.detailed-description-header img { display: block; max-width: 80%; max-height: 60px; }
   	.production { margin: 1em 1em 0; font: italic 0.925em 'pt serif',serif; }
   	.afterfade-block { margin: 1.5em; position: absolute; top: -90px; display: none; }
    .header-after-fade { font: 1.7em 'pt serif', serif; }
    .production-after-fade { font: italic 0.9em 'pt serif',serif; }
    .active { display: block; }
/* ==========================================================================
 * Scroller styles
   ========================================================================== */ 
   
   .slider-container { /*height: 600px;*/ width: 100%; overflow: hidden; }   
   .jcarousel, .jcarousel2 { position: relative; overflow: hidden; height: 500px; }
   .jcarousel2 > ul { top: inherit !important; bottom: 0 !important; }
   .jcarousel ul, .jcarousel2 ul { width: 20000em; position: absolute; list-style: none; margin: 0 0 0 1em; padding: 0; }
   .jcarousel li, .jcarousel2 li { float: left; margin: 0 1em; }
   .jcarousel-next, .jcarousel-prev { position: absolute; z-index: 102; top:47.5%; width: 31px; height: 31px; }
   .jcarousel-prev { left: 5%; background: url(../img/interface/arrow_left.png) no-repeat; opacity: 0.2; }
   .jcarousel-next { right: 5%; background: url(../img/interface/arrow_right.png) no-repeat; }
   .jcarousel-img-container { position: relative; height: 449px; overflow: hidden; }
   .carousel-overlay {
   	    position: absolute;
   	    z-index: 99;
   	    top: 0;
   	    left: 0;
   	    width: 100%;
   	    height: 100%;
		background: #AEAD3A;
		opacity: 0;	
	    transition: all .8s ease;
		-webkit-transition: all .8s ease;
		-moz-transition: all .8s ease;
		-o-transition: all .8s ease;
		-ms-transition: all .8s ease;
	}
	.jcarousel-img-container:hover .carousel-overlay { opacity: .3; }
	.jcarousel-img-container:hover .img-caption { opacity: 1; }
	.img-caption { opacity: 0; z-index: 98; position: absolute; top: 50%; left: 0; width: 100%; height: 2em; font-size: .9em; text-align: center; line-height: 2em; font-family: "pt serif",serif; color: #fff; 
   		transition: all .8s ease;
		-webkit-transition: all .8s ease;
		-moz-transition: all .8s ease;
		-o-transition: all .8s ease;
		-ms-transition: all .8s ease;
	}
	.fancybox-title.fancybox-title-inside-wrap {
	    position: absolute;
	    top: 0;
	    left: 100%;
	    width: 245px;
	    height: 100%;
	    padding: 0;
	    background: #FAF1E0;      
	}
	.fancy_header { display: block; margin: 0 0 25px; padding: 60px 23px 15px;  border-bottom: 1px solid #562024; font: 1.3em "pt serif",serif; color: #562024; }
	.fancy_body { display: block; padding: 0 23px; font: 1.1em "pt serif",serif; color: #562024; }
	.fancybox-next { width: 100%; left: 0; }
	.fancybox-prev { width: 245px; right: -100%; }
/* ==========================================================================
 * Adaptation media queries
   ========================================================================== */  

@media (max-width: 1024px) {
	
} 

@media (max-width: 768px) {
	
	html, body { min-width: 0; height: auto; }
	footer { position: relative; /*visibility: hidden;*/ padding-bottom: .5em; bottom: -.5em; z-index: 10001; }
	.block-description-list { margin: -7.2em 0 0 0; }
	.green-cross { display: none; }
	.copyright, .developer { margin: 0 0 .5em 0; }
	.wrapper { position: relative; width: 46.936em; min-width: 0; /*padding-bottom: 76px;*/ }	
	.index-wrapper { width: 46.936em; }
	.wrapper-component { width: 100%; height: 29.5em; z-index: 10002; }
	.block-2, .block-3, .block-4, .block-5 { height: 8em; }
	.block-description-list { height: 15em; }
	.page-description-block { min-height: 8em; height: auto; }
	.about-page-description-block { left: 0 !important; }
	.about-company-slideshow { height: 18em !important; width: 100% !important; }
	.page-description-block h2 { margin: 1.5em 0 0 1.1em; }
	.page-description-block h2, .about-page-text { text-align: left; }
	.about-page-text { padding: 0 0 1em 1em; }
	
	/* Contacts */
	.page-description-block.contacts-description-block { min-height: 8em; height: 8em; }
	.contacts-page-text { width: 100%; text-align: center; padding-top: 0.5em; }
	.contacts-description-block { height: 12.5em !important; }
	.contacts-map { width: 100% !important; height: 18em !important;}
	.wrapper-component.block-1.about-page-block-1 { position: relative; max-width: none; }
	.wrapper-component.page-description-block.about-page-description-block { height: auto !important; left: 0; max-width: none; }
	.about-company-slideshow { position: relative; left: 0 !important; }
	/* Samplepage */
	.can-fade { left:0 !important; height: auto !important; padding-bottom: 1em; max-width: none; }
	.simple-page-slideshow { position: relative; left: 0 !important; width: 100% !important; }
	.red-cross { visibility: hidden; }
	.wrapper-component.block-1.about-page-block-1 { height:auto; }
	.block-name { width: 75%; left: 12.5%; }
	.block-name:hover { background: #BABA50 !important; }
	.right, .left { left: 0; top: 100%; }
	/*.green-cross { width: 2.25em; height: 2.25em; margin-top: 1.65em; }*/
	.navigation-list { margin: 0 auto; padding: 0; }
		.item-1 { max-width: 100%; padding: 1em 0 0; }
		.item-6 { max-width: 100%; padding: 0 0 1em; }
		.block-1 { height: auto !important; }
	
} 

@media (max-width: 480px) {
	.wrapper { position: relative; width: 28.936em; min-width: 0; /*padding-bottom: 76px;*/ }		
} 
   
@media (max-width: 335px) /* +15px */{
	.wrapper { position: relative; width: 19.93em; min-width: 0; /*padding-bottom: 76px;*/ }		
}   
       
/* ==========================================================================
   Fotorama styles
   ========================================================================== */

.fotorama__thumbs { position: absolute; bottom: 5%;  }
.fotorama__thumb__dot { background: #AEAD3A; width: 9px; height: 9px; border-radius: 9px; }

/*.arrows { height: 148px; width: 50px; float: left; }*/
.right_arrow { width: 31px; height: 31px; background: url("../img/interface/arrow_right.png") no-repeat scroll 0 0 transparent; }
.left_arrow { width: 31px; height: 31px; background: url("../img/interface/arrow_left.png") no-repeat scroll 0 0 transparent; }
.fotorama__arr_next { top: 85%; left: 95%; }
.fotorama__arr_prev { top: 85%; left: 5%; }
.fotorama__caption { text-align: center; font-size: .8125em; }

/* ==========================================================================
 * Scroll-pane styles
   ========================================================================== */
.scroll-pane-container { /*overflow: auto;*/ padding: 2em 0; border-top: 1px dotted; border-bottom: 1px dotted; }  
.scroll-pane { overflow: auto; width: 16em; /*padding: 1.4em 0;*/ margin: 0 auto; }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
